 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">	
         <title>書籍管理アプリ ホーム（検索/一覧）</title>
         <link rel="stylesheet" href="/css/style.css">	
     </head>
     
     <body>
		 <header>
		  <div class="header">
            <h1>書籍管理システム</h1>
            <button id="add-button">追加</button>
          </div>
		 </header>
		 　<main>
			 <p id="first-paragraph">検索</p>
			<form>
  　　　　　　<div>
	            <label for="mySearch">タイトル</label>
    　　　　　　<input
      　　　　　　type="search"
      　　　　　　id="mySearch"
      　　　　　　name="q"
      　　　　　　placeholder="タイトル検索..."
      　　　　　　size="50" />
    　　　　　　<button>検索</button>
 　　　　　　 </div>
　　　　    </form>
		 　　<p id="second-paragraph">並び替え</p>
		 　<table>
　　　　　 <tr>
           <td><button>タイトル</button></td>
           <td><button>著者</button></td>
           <td><button>出版社</button></td>
           </tr>
           </table>
  　　　　  <div class="block-list">
 　　　　　  </div>
		 </main>
     </body>
 </html>