 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">	
         <title>書籍管理アプリ 詳細</title>
         <link rel="stylesheet" href="/css/style.css">	
     </head>
     
      <body>                                                               
        <header>                                                             
          <h1>書籍管理システム</h1>                                                   
       </header> 
       　 <main>                                                               
           <h3>タイトル</h3>                                                 
           <h3>巻数</h3>    
           <h3>著者名</h3>
           <h3>出版社名</h3>
           <h3>評価</h3> 
           <h3>コメント</h3>   
           <button id="backbutton">戻る</button>     
           <div class="button-container">
             <button class="update-button">更新</button>
             <button class="delete-button">削除</button>
           </div>    
           <script>
            // 戻るボタンがクリックされたときの処理
            document.getElementById("backbutton").addEventListener("click", function() {
            // 検索画面への遷移（例: index.htmlに遷移）
            window.location.href = "http://localhost:8080/?continue";  });
           </script>    
         </main>                                                              
      </body>                                                              
 </html>